@import "variables";

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid var(--border-colour);
  min-height: 3.5rem;
}

.itemHeader {
  composes: item;
  border-bottom-width: 2px;
  min-height: 2.5rem;
  font-weight: 600;
}

.name {
  font-weight: 600;
  flex-basis: 25%;
  text-transform: capitalize;
}

.qty {
  flex-basis: 10%;
  text-align: center;
}

.cost {
  flex-basis: 25%;
  text-align: center;
}

.divider {
  opacity: 0.25;
  font-weight: 600;
}
