:root {
  @custom-media --sm (width >= 30rem);
  @custom-media --md (width >= 48rem);
  @custom-media --lg (width >= 60rem);

  --base-font-size: 16px;

  --base-font-weight: 400;
  --bold-font-weight: 500;
  --heavy-font-weight: 600;

  --base-font-family: 'Cutive Mono', monospace;;
  --base-line-height: 1.5;
  --base-letter-spacing: -0.00625rem;

  --base-spacing-unit: 16px;

  --z-index-dropdown: 60;
  --z-index-fixed: 50;
  --z-index-modal: 40;
  --z-index-modal-backdrop: 30;
  --z-index-sticky: 20;
  --z-index-overlay: 10;

  --border-colour: #e5e5e5;
}