.header {
  height: 4rem;
  background-color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  border-bottom: 3px solid #e5e5e5;
  position: sticky;
  top: 0;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
}

.total {
  font-size: 1.25rem;
  font-weight: bold;
}