@import "variables";

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 10rem;
}

.main {
  font-size: 2rem;
  font-weight: 500;
}

.sub {
  opacity: 0.5;
}
